<h1><%= @issue.title %></h1>
<h2><%= @issue.subtitle %></h2>

<% if @issue.audio %>
  <div class="audio-box">
    <%= audio_tag Issue::BASE_DOMAIN_URL + "/" + @issue.audio.src, :autoplay => true, :controls => true, :loop => true %>
    </audio>
  </div>
<% end %>

<ul id="images">
  <% @issue.images.each do |image| %>
    <li><%= image_tag Issue::BASE_DOMAIN_URL + "/" + image.src %></li>
  <% end %>
</ul>

