h1, h2 {
  text-align: center;
  margin-bottom: 30px;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 50px;
}
#images img {
  width: 100%;
}
ul, li {
  margin: 0;
  padding: 0;
}
img {
  margin-bottom: 5px;
}
body {
  font-family: Gadget, Sans;
  color: purple;
  padding: 10px;
}
.left {
  position: absolute;
  left: 20px;
  top: 5px;
  font-size: 20px;
}
.right {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 20px;
}

.navigation .next {
  float: right;
}

.audio-box {
  margin-top: 25px;
  text-align: center;
}

.navigation {
  background: white;
  width: 100%;
  opacity: 0.4;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 25px;
}
.navigation a, .navigation a:visited  {
  color: purple;
  font-size: 30px;
}
